@import "tailwindcss";

@theme {
  --color-background: #0a0a0c;
  --color-foreground: #ededed;
}

/* Custom Utilities */
@utility pointer-events-none {
  pointer-events: none;
}
@utility pointer-events-auto {
  pointer-events: auto;
}

:root {
  --background: #0a0a0c;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
